<!DOCTYPE html>
<html ng-app="web_interface">
  <head>

    <meta content="text/html" charset="UTF-8" http-equiv="Content-Type">

    <title>welcome MYSWT</title>
    <link href="./css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="./css/ng-table.css" rel="stylesheet" media="screen">
    <link href="./css/jquery.growl.css" rel="stylesheet" media="screen">
    <link href="./css/style.css" rel="stylesheet" media="screen">
    <!--link href="./css/json-formatter.css" rel="stylesheet" type="text/css"-->
    <!--link href="./css/angular.treeview.css" rel="stylesheet" type="text/css"-->
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/ng-table.js"></script>
    <script src="./js/jquery.growl.js"></script>
    <!--script src="./js/json-formatter.js"></script-->
    <!--script src="./js/angular.treeview.js"></script-->
    <script src="./js/angular-cookies.js"></script>
    <script src="./js/bullet.js"></script>
    <script src="./js/scripts.js"></script>
  </head>
  <body ng-controller="my_controller" ng-init="init()">
    <div class="container-fluid">
      <!-- 
      #
      # navigation panel 
      #
      -->
      <div class="span2">
        <form>
          <br>
          <input type="radio" ng-model="opts.current_showing_type" value="foo"> foo <br><br>
          <input type="radio" ng-model="opts.current_showing_type" value="bar"> bar <br><br>
        </form>
      </div>
      <!-- 
      #
      # content
      #
      -->
      <div class="span10">
        <!-- foo content -->
        <div ng-show="opts.current_showing_type == 'foo'">
			<br><br>
			<input ng-model='cached.foo' type="number" placeholder="enter number">
			<br><br>
			<button type="button" class="btn btn-primary" ng-click="foo(cached.foo)">send</button>
			<br><br>
			<div ng-repeat="el in cached.foo_list">
			{{el}}
			</div>
		</div>
        <!-- bar content -->
        <div ng-show="opts.current_showing_type == 'bar'">
        	<br><br>
			<input ng-model='cached.bar' type="text" placeholder="enter text">
			<br><br>
			<button type="button" class="btn btn-primary" ng-click="bar(cached.bar)">send</button>
		</div>
      </div>
    </div>
  </body>
</html>