html, body {
    /*background-color: black;*/
    overflow: auto;
}
.fill
{
	width: 100%;
}
.fill50
{
	width: 50%;
}

.myborder
{
    border:5px solid grey;
    border-radius: 5px;
}

.compact
{
	table-layout: auto;
}

.fixed
{
  position:fixed;
}

.dark
{
    background-color: black;
}
.my_navbar
{
    font-size: 200%;
    color: black;
    border:5px solid grey;
    opacity: 0.9;
}
input[type="radio"], input[type="checkbox"] {
    width: 15pt;
    height: 15pt;
}